{% extends 'base.html' %}
{% load static %}

{% block head%}
{% endblock%}
    
{% block body%}
    {% include 'navbar.html' %}

    <div class="container-fluid text-center">    
      <div class="row content">
        <div class="col-sm-12 text-center"> 
          <h2 class="resumeTitle"><span style="color: #FFC400;">Education</span>al Background</h2>
            <p class="resumeContent">Sistem Informasi - Fasilkom - UI</p>
            <p class="resumeContent">SMA Labschool Kebayoran</p>
            <p class="resumeContent">SMP Labschool Kebayoran</p>
            <p class="resumeContent">SD Bakti Mulya 400</p>
          <h2 class="resumeTitle">Notable<span style="color: #FFC400;"> Experience</span></h2>
          <h2 class="resumeTitle"><span style="color: #FFC400;">Tech</span>nologies</h2>
        </div>
      </div>
      <!-- Button to Open the Modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Open modal
      </button>
      
    
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Technologies</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
    
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img img src=https://www.designveloper.com/wp-content/uploads/2019/05/python-programming-language.jpg alt="Python" width="60%">
            <div class="carousel-caption">
              <h3 style="color: black;">Python</h3>
              <p style="color: black;">for Programming</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src=https://2.bp.blogspot.com/-V77K6t5Vmo4/VA0HOnJUpMI/AAAAAAAAAF8/5cdRBjHCesY/s1600/java1.gif alt="Java" width="60%">
            <div class="carousel-caption">
              <h3 style="color: orange;">Java</h3>
              <p style="color: blue;">for Programming</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src=https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1200px-Bootstrap_logo.svg.png alt="Bootstrap" width="60%">
            <div class="carousel-caption">
              <h3 style="color: grey;">Bootstrap</h3>
              <p style="color: grey;">as Framework</p>
            </div>   
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
            </div>
    
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
    
          </div>
        </div>
      </div>
    </div>

    
 
    <p><br></p>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  {% endblock%}

</html>

