{% extends 'base.html' %}
{% load static %}

{% block head%}
{% endblock%}
    
{% block body%}
    {% include 'navbar.html' %}

    <div class="jumbotron">
        <div class="container">
            <h1 id="nama">THARIQ <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RAZAN</h1>
          <br>
          <p class="lead">
            Hello! <br> Welcome to my website. "kalo ngedit css dari class pake. kalo css dari id pake #"
          </p>
          <br />
          <p>
            <a class="btn btn-primary shadow mr-2" href="#" role="button">Hire Me »</a>
            <a class="btn btn-outline-primary" href="#" role="button">Learn more »</a>
          </p>
        </div>
    </div>


  <!-- Portfolio-->
  <section class="bg-light">
    <div class="container">
      <h2 id="portfolio">Portfolio</h2>
      <br />
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card shadow border-0 h-100"><a href="#"><img src="img/mockup0.jpg" alt="" class="card-img-top"></a>
            <div class="card-body">
              <h5> <a href="#" class="text-dark">Ex cupidatat eu</a></h5>
              <p class="text-muted card-text">Ex cupidatat eu officia consequat incididunt labore occaecat ut veniam labore et cillum id et.</p>
              <p class="card-text"><a href="#">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card shadow border-0 h-100"><a href="#"><img src="img/mockup1.jpg" alt="" class="card-img-top"></a>
            <div class="card-body">
              <h5> <a href="#" class="text-dark">Tempor aute occaecat</a></h5>
              <p class="text-muted card-text">Tempor aute occaecat pariatur esse aute amet.</p>
              <p class="card-text"><a href="#">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card shadow border-0 h-100"><a href="#"><img src="img/mockup2.jpg" alt="" class="card-img-top"></a>
            <div class="card-body">
              <h5> <a href="#" class="text-dark">Voluptate ex irure</a></h5>
              <p class="text-muted card-text">Voluptate ex irure ipsum ipsum ullamco ipsum reprehenderit non ut mollit commodo.</p>
              <p class="card-text"><a href="#">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card shadow border-0 h-100"><a href="#"><img src="img/mockup3.jpg" alt="" class="card-img-top"></a>
            <div class="card-body">
              <h5> <a href="#" class="text-dark">Tempor commodo</a></h5>
              <p class="text-muted card-text">Tempor commodo nostrud ex Lorem occaecat duis occaecat minim.</p>
              <p class="card-text"><a href="#">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card shadow border-0 h-100"><a href="#"><img src="img/mockup4.jpg" alt="" class="card-img-top"></a>
            <div class="card-body">
              <h5> <a href="#" class="text-dark">Et fugiat sint occaecat</a></h5>
              <p class="text-muted card-text">Et fugiat sint occaecat voluptate incididunt anim nostrud ea cillum cillum consequat.</p>
              <p class="card-text"><a href="#">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card shadow border-0 h-100"><a href="#"><img src="img/mockup5.jpg" alt="" class="card-img-top"></a>
            <div class="card-body">
              <h5> <a href="#" class="text-dark">Et labore tempor et</a></h5>
              <p class="text-muted card-text">Et labore tempor et adipisicing dolor.</p>
              <p class="card-text"><a href="#">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


    <section class="bg-light">
      <div class="container" align=center>
        <h2 id="contact">Contact</h2>
        <br />
        <a class="sosmed" href="mailto:thariqrazan11@gmail.com"><i class="fa fa-envelope mr-md-5 mr-3 fa-2x"></i>thariqrazan11@gmail.com</a>    
        <br />
        <a class="sosmed" href=""><i class="fa fa-linkedin-square mr-md-5 mr-3 fa-2x"></i>Thariq Razan</a>    
        <br />
        <a class="sosmed" href=""><i class="fa fa-instagram mr-md-5 mr-3 fa-2x"></i>thariqrazan</a>
      </div>
    </section>       

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  {% endblock%}


