{% extends 'base.html' %}
{% load static %}

{% block head%}
{% endblock%}
    
{% block body%}
    {% include 'navbar.html' %}
    
    <div class="contain">
        <div class="jam">{{ time }}</div>
    </div>
{% endblock%}
