{% extends 'base.html' %}
{% load static %}


{% block head%}
    <title>PPW-STORY1</title>
{% endblock%}


  {% block body%}
  {% include 'navbar.html' %}

    <h1 style="font-family: monospace; text-align: center;">Profil Saya</h1>

    <div class="row">
      <div class="column left" style="background-color:paleturquoise;">
        <div class="card" style="width: 250px; background-color: white;">
        <img src="https://maung.id/static/9d46a770ead53421b748573caa5a49be/9f583/FR50.jpg" alt="Avatar" style="width:100%;">
        <div class="container">
        <h2 style="font-family:monospace; text-align: center;">Thariq Razan</h2>
        <!-- <p style="font-family:monospace; text-align: center;">Information System Student</p> -->
              
              
        <div class="share-buttons">
        <a href="mailto:?subject=&body=:%20http%3A%2F%2Fmailto%3Athariqrazan11%40gmail.com" target="_blank" title="Send email">
          <img alt="Send email" src="https://www.freepnglogos.com/uploads/logo-gmail-png/logo-gmail-png-brand-brands-gmail-logo-logos-icon-22.png" 
          class="center" style="width: 20%;" />
        </a>
        </div>
        </div>
        </div>
      </div>
      <div class="column right" style="background-color:peachpuff;">
        <table style="font-family:monospace;">
        <tr><td>Nama</td> <td>: Thariq Razan</td></tr>
        <tr><td>Tempat Kuliah</td> <td>: Universitas Indonesia</td></tr>
        <tr><td>Angkatan</td> <td>: MAUNG/2019</td></tr>
        <tr><td>NPM</td> <td>: 1906398881</td></tr>
        <tr><td>Hobi</td> <td>: Menonton Film</td></tr>
        <tr><td>Deskripsi Singkat</td> <td>: Saya seorang mahasiswa sistem informasi 
            yang antusias dalam mempelajari hal-hal baru</td></tr>
        </table>

        <br></br> 
        <br></br>
        <table border=1 class=pendidikan> 
        <caption style="font-family: monospace;"><b> Riwayat Pendidikan </caption>
        <tr><th>Tahun</th> <th>Sekolah/Universitas</th></tr>
        <tr><td align="center">2019-Sekarang</td> <td align="center">Fasilkom UI</td></tr>
        <tr><td align="center">2016-2019</td> <td align="center">SMA Labschool Kebayoran</td></tr>
        <tr><td align="center">2013-2016</td> <td align="center">SMP Labschool Kebayoran</td></tr>
        <tr><td align="center">2007-2013</td> <td align="center">SD Bakti Mulya 400</td></tr>
        </table>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    {% endblock%}

</html>
