<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="color: white;">Thariq</a>
    <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" 
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav ml-auto justify-content-end">
        <li class="nav-item active">
        <li class="nav-item">
            <a class="nav-link" href="/story1" style="color: white;">Story 1</a>
        </li>
          <a class="nav-link" href="/story3"  style="color: white;">Story 3<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="resume" style="color: white;">Story 3.5</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/time" style="color: white;">Clock</a>
        </li>            
      </ul> 
    </div>
</nav>